<mat-card class="reset-password">
  <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput formControlName="password" >
      <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
        Un mot de passe est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <mat-card *ngIf="hasResetPasswordFailed">
      Réinitialisation du mot de passe impossible
    </mat-card>
    <button type="submit" mat-button>Réinitialiser votre mot de passe</button>
  </form>
</mat-card>
