@use '../../../styles/mixins' as mx;

.p-login {
  @include mx.container("xs");
  @include mx.mq("md") {
    justify-content: initial;
  }

  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-bottom: 2rem;
  }
}

.p-login\.links {
  @include mx.v-stack;

  margin-top: 2em;
  text-align: center;
}

.p-login\.form {
  @include mx.v-stack(6);
}
