<main class="[ p-login ] [ container-xs ]">
  <div>
    <h1>Connexion</h1>

    <form
      id="login-form"
      class="stack-4"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="status-card"
        data-state="error"
        *ngIf="isSubmitEmpty"
        role="alert"
      >
        Vous devez remplir le formulaire de connexion
      </div>

      <div
        class="status-card"
        data-state="error"
        *ngIf="isLoginInvalid"
        role="alert"
      >
        Votre Email ou Mot de passe n'est pas valide
      </div>

      <spf-form-group>
        <spf-input name="email" type="email" label="Email"></spf-input>

        <div
          class="input-message"
          data-state="error"
          *ngIf="
            loginForm.controls.email.hasError('email') &&
            !loginForm.controls.email.hasError('required')
          "
          role="alert"
        >
          L'email n'est pas valide
        </div>
        <div
          class="input-message"
          data-state="error"
          *ngIf="
            loginForm.controls.email.hasError('required') &&
            (loginForm.controls.email.dirty || loginForm.controls.email.touched)
          "
          role="alert"
        >
          L'email est requis
        </div>
      </spf-form-group>

      <spf-form-group>
        <spf-input
          name="password"
          type="password"
          label="Mot de passe"
        ></spf-input>

        <div
          class="input-message"
          data-state="error"
          *ngIf="
            loginForm.controls.password.hasError('required') &&
            (loginForm.controls.password.dirty ||
              loginForm.controls.password.touched)
          "
          role="alert"
        >
          Le mot de passe est requis
        </div>
      </spf-form-group>
    </form>
  </div>

  <div class="[ p-login-links ] [ v-stack-4 ]">
    <a routerLink="/forgotten-password" class="[ link ] [ m-center ]"
      >Mot de passe oublié ?</a
    >
    <button type="submit" class="button" data-size="big" form="login-form">
      {{ isSubmitting ? "Connexion..." : "Se connecter" }}
    </button>
  </div>
</main>
