<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="../"></spf-breadcrumbs>
    <h1>Modifier l'article</h1>
  </header>

  <form class="stack-4" [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <label for="title">Titre</label>
      <input class="input" id="title" type="text" formControlName="title" />
    </spf-form-group>

    <spf-form-group>
      <label for="content">Contenu</label>
      <textarea
        class="input"
        id="content"
        formControlName="content"
        rows="10"
      ></textarea>
    </spf-form-group>

    <spf-form-group>
      <label class="checkbox" for="isForVolunteers">
        <input
          id="isForVolunteers"
          type="checkbox"
          formControlName="isForVolunteers"
        />
        <span class="control">
          <spf-icon-check size="16" fill="white"></spf-icon-check>
        </span>
        <span class="label">Visible uniquement par les bénévoles</span>
      </label>
    </spf-form-group>

    <div class="h-stack-2">
      <button type="submit" class="button">
        {{ isSubmitting ? "Modification..." : "Modifier" }}
      </button>
      <button
        type="button"
        class="button"
        data-color="black"
        data-variant="ghost"
        (click)="delete()"
      >
        <spf-icon-trash size="20"></spf-icon-trash>
      </button>
    </div>
  </form>
</main>
