<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="../"></spf-breadcrumbs>
    <h1>Modifier l'article</h1>
  </header>

  <form class="stack-4" [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <spf-input name="title" label="Titre"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-textarea name="content" rows="10" label="Contenu"></spf-textarea>
    </spf-form-group>

    <spf-form-group>
      <spf-checkbox
        name="isForVolunteers"
        label="Visible uniquement par les bénévoles"
      ></spf-checkbox>
    </spf-form-group>

    <div class="h-stack-2">
      <button type="submit" class="button">
        {{ isSubmitting ? "Modification..." : "Modifier" }}
      </button>
      <button
        type="button"
        class="button"
        data-color="black"
        data-variant="ghost"
        (click)="delete()"
      >
        <spf-icon-trash size="20"></spf-icon-trash>
      </button>
    </div>
  </form>
</main>
