<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="../"></spf-breadcrumbs>
    <h1>Ajouter un utilisateur</h1>
  </header>

  <form class="stack-4" [formGroup]="usersFormGroup" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <spf-input name="email" type="email" label="Email"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="firstName" label="Prénom"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="lastName" label="Nom"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input
        name="popAcceuilNumber"
        optional
        label="N° dossier"
      ></spf-input>
    </spf-form-group>

    <spf-form-group class="stack-3">
      <label>Type</label>

      <label class="checkbox" for="isVolunteer">
        <input id="isVolunteer" type="checkbox" formControlName="isVolunteer" />
        <span class="control">
          <spf-icon-check size="16" fill="white"></spf-icon-check>
        </span>
        <span class="label">Bénévole</span>
      </label>

      <label class="checkbox" for="isAdmin">
        <input id="isAdmin" type="checkbox" formControlName="isAdmin" />
        <span class="control">
          <spf-icon-check size="16" fill="white"></spf-icon-check>
        </span>
        <span class="label">Coordinateur</span>
      </label>
    </spf-form-group>

    <button type="submit" class="button">Créer</button>
  </form>
</main>
