<main class="container-md stack-8">
  <spf-page-header link="../" title="Ajouter un utilisateur"></spf-page-header>

  <form class="stack-4" [formGroup]="usersFormGroup" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <spf-input name="email" type="email" label="Email"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="firstName" label="Prénom"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="lastName" label="Nom"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input
        name="popAcceuilNumber"
        optional
        label="N° dossier"
      ></spf-input>
    </spf-form-group>

    <spf-form-group class="stack-3">
      <label>Type</label>
      <spf-checkbox name="isVolunteer" label="Bénévole"></spf-checkbox>
      <spf-checkbox name="isAdmin" label="Coordinateur"></spf-checkbox>
    </spf-form-group>

    <button type="submit" class="button">Créer</button>
  </form>
</main>
