<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="../"></spf-breadcrumbs>
    <h1>Ajouter un utilisateur</h1>
  </header>

  <form class="stack-4" [formGroup]="usersFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="input" id="email" type="email" formControlName="email" />
    </div>

    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input
        class="input"
        id="firstName"
        type="text"
        formControlName="firstName"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Nom</label>
      <input
        class="input"
        id="lastName"
        type="text"
        formControlName="lastName"
      />
    </div>

    <div class="form-group">
      <label for="lastName"
        >N° dossier
        <span class="text-size-sm text-italic">(optionnel)</span></label
      >
      <input
        class="input"
        id="lastName"
        type="text"
        formControlName="lastName"
      />
    </div>

    <button type="submit" class="button">Créer</button>
  </form>
</main>
