<header class="layout-header">
  <div>La permanence étudiante</div>

  <details *ngIf="user" class="menu-details">
    <summary class="menu-details.button">
      <div class="layout-header.user-menu">
        {{ user.firstName | uppercase | firstLetter }}
      </div>
    </summary>
    <div class="menu-details.menu">
      <ul>
        <li class="menu-details.menu.item">
          <button (click)="logout()" type="button">Se déconnecter</button>
        </li>
        <div class="divider"></div>
      </ul>
    </div>
  </details>
</header>
<router-outlet></router-outlet>
