@use "./functions" as fn;

.button {
  --radius: 8px;
  --padding-y: #{fn.em(10px)};
  --padding-x: #{fn.em(20px)};
  --bg: var(--primary);

  background-color: var(--bg);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--radius);
  padding: var(--padding-y) var(--padding-x);
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: ease-in-out 0.15s all;
  display: inline-block;

  &:hover {
    filter: brightness(1.2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--white), 0 0 0 3px var(--bg);
  }

  &[data-size="big"] {
    --radius: 12px;
    --padding-y: #{fn.em(16px)};
    --padding-x: #{fn.em(30px)};
  }

  &[data-variant="ghost"] {
    border: 1px solid var(--bg);
    color: var(--bg);
    background: transparent;
  }

  &[data-color="black"] {
    --bg: var(--black);
  }
}
