@use "./functions" as fn;
@use "./mixins" as mx;

.form\.group {
  --input-radius: 8px;

  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  font-weight: 500;
}

.input {
  z-index: 1;
  margin-top: 12px;
  font-size: 1rem;
  padding: 0.8em;
  border-radius: var(--input-radius);
  border: 1px solid hsla(var(--palette-grey-20), 1);

  &::placeholder {
    color: hsla(var(--palette-grey-60), 1);
  }

  &.ng-invalid:not(.ng-untouched) {
    border-color: var(--error-border);
  }
}

.input\.message {
  --margin: 8px;
  --padding: 0.4em;

  font-size: fn.rem(14px);
  padding: var(--padding);
  padding-top: calc(var(--margin) + var(--padding));
  margin-top: calc(-1 * var(--margin));
  border-bottom-left-radius: var(--input-radius);
  border-bottom-right-radius: var(--input-radius);

  &.-error {
    color: var(--error-text);
    border: 1px solid var(--error-border);
    background-color: var(--error-bg);
  }
}
