@use "./functions" as fn;
@use "./mixins" as mx;

.input {
  z-index: 1;
  margin-top: 12px;
  font-size: 1rem;
  padding: 0.8em;
  border-radius: var(--input-radius);
  border: var(--border-input-idle);
  transition: 0.1s border ease-in-out;

  &:focus {
    border: var(--border-input-focus);
  }

  &::placeholder {
    color: hsla(var(--palette-grey-60), 1);
  }

  &.ng-invalid:not(.ng-untouched) {
    border-color: var(--error-border);
  }
}
