@use "sass:map";

.status-card {
  padding: 0.6em;
  border-radius: 6px;
  border: 1px solid;

  &[data-state="error"] {
    background-color: var(--error-bg);
    color: var(--error-text);
    border-color: var(--error-border);
  }
}
