@use "functions" as fn;

:host {
  padding-bottom: fn.rem(20px);
  display: block;
  border-bottom: var(--border-card-idle);
}

:host > article {
  position: relative;
  transition: border ease-in-out 0.15s;
}

:host > article a {
  font-size: fn.rem(24px);
  text-decoration: none;
  color: var(--black);
  transition: color ease-in-out 0.15s;

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

:host .meta {
  color: hsl(var(--palette-grey-60));
}
