<main class="container-md stack-8" *ngIf="event$ | async as event">
  <spf-page-header link="../" [title]="event.title">
    <ng-container actions>
      <spf-can-access [forVolunteers]="true">
        <a class="button" data-size="small" routerLink="./edit">Modifier</a>
      </spf-can-access>
    </ng-container>
  </spf-page-header>

  <div class="h-stack-2">
    <spf-badge *ngIf="event.isFree" label="Gratuit"></spf-badge>
    <spf-badge *ngIf="!event.isFree" label="Payant"></spf-badge>
    <spf-badge *ngIf="event.isClosed" label="Fermé"></spf-badge>
  </div>

  <div class="stack-1">
    <div class="h-stack-2">
      <spf-icon-user size="20"></spf-icon-user>
      <span>{{ event.maxPeople }} max.</span>
    </div>

    <div>
      Du {{ event.startAt | date: "mediumDate":"UTC":"fr" }} au
      {{ event.endAt | date: "mediumDate":"UTC":"fr" }}
    </div>
  </div>
</main>