@use "functions" as fn;

:host {
  display: inline-flex;

  &[ng-reflect-is-for-volunteers="0"] spf-badge {
    background: hsla(var(--palette-green-70), 0.1);
    color: hsl(var(--palette-green-70));
  }

  &[ng-reflect-is-for-volunteers="1"] spf-badge {
    background: hsla(var(--palette-yellow-70), 0.1);
    color: hsl(var(--palette-yellow-70));
  }
}
