@use "functions" as fn;

:host {
  border-radius: fn.rem(6px);
  padding: fn.rem(2px);
  display: inline-flex;

  &[ng-reflect-is-for-volunteers="0"] {
    background: hsla(var(--palette-green-60), 0.1);
    color: hsl(var(--palette-green-60));
  }

  &[ng-reflect-is-for-volunteers="1"] {
    background: hsla(var(--palette-yellow-60), 0.1);
    color: hsl(var(--palette-yellow-60));
  }

  &[ng-reflect-show-title="true"] {
    padding: 0.5rem;
    font-size: fn.rem(14px);
  }
}
