<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="../"></spf-breadcrumbs>
    <h1>Modifier l'événement</h1>
  </header>

  <form class="stack-4" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <spf-input name="title" label="Titre"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="startAt" type="date" label="Commence le"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input name="endAt" type="date" label="Fini le"></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-input
        name="maxPeople"
        type="number"
        inputStyle="width: 6ch"
        label="Nombre de place"
      ></spf-input>
    </spf-form-group>

    <spf-form-group>
      <spf-textarea name="comment" label="Commentaire"></spf-textarea>
    </spf-form-group>

    <spf-form-group>
      <spf-checkbox name="isClosed" label="Inscriptions fermées"></spf-checkbox>
    </spf-form-group>

    <spf-form-group>
      <spf-checkbox name="isChargeable" label="Payante"></spf-checkbox>
    </spf-form-group>

    <button type="submit" class="button">
      {{ isSubmitting ? "Modification en cours..." : "Modifier" }}
    </button>
  </form>
</main>
