<mat-card>
  <a type="button" routerLink="/home" mat-button>Retour vers l'acceuil</a>
  <a type="button" routerLink="./new" mat-button>Créer un nouvel événement</a>
  <mat-form-field appearance="standard">
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Walibi" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="startAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commence le : </th>
        <td mat-cell *matCellDef="let row"> {{row.startAt | date:'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="endAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fini le : </th>
        <td mat-cell *matCellDef="let row"> {{row.endAt | date:'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="maxPeople">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Etudiants max : </th>
        <td mat-cell *matCellDef="let row"> {{row.maxPeople}} </td>
      </ng-container>

      <ng-container matColumnDef="isClosed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> est fermé ? : </th>
        <td mat-cell *matCellDef="let row"> {{row.isClosed}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre : </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <ng-container matColumnDef="isFree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> est gratuit ? : </th>
        <td mat-cell *matCellDef="let row"> {{row.isFree}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="input.value">Rien de trouvé pour :  "{{input.value}}"</td>
        <td class="mat-cell" colspan="4" *ngIf="!input.value">Pas de résultat</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
