<article class="[ card ] [ stack-3 ]">
  <header class="stack-2">
    <h2>
      <a [routerLink]="link">
        {{ title }}
      </a>
    </h2>

    <div class="h-stack-2">
      <spf-badge *ngIf="isFree" label="Gratuit"></spf-badge>
      <spf-badge *ngIf="!isFree" label="Payant"></spf-badge>
      <spf-badge *ngIf="isClosed" label="Fermé"></spf-badge>
    </div>
  </header>

  <div class="[ meta ] [ stack-1 ]">
    <div class="h-stack-2">
      <spf-icon-user size="20"></spf-icon-user>
      <span>{{ maxPeople }} max.</span>
    </div>

    <div>
      Du {{ startAt | date: "mediumDate":"UTC":"fr" }} au
      {{ endAt | date: "mediumDate":"UTC":"fr" }}
    </div>
  </div>
</article>
