<main
  class="[ p-forgotten-password ] [ container-xs stack-8 ]"
  *ngIf="!isEmailSent"
>
  <spf-page-header link="/login" title="Mot de passe oublié ?">
  </spf-page-header>

  <form
    id="forgotten-password-form"
    class="stack-4"
    [formGroup]="forgottenPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <spf-form-group>
      <spf-input label="Email" type="email" name="email"></spf-input>

      <div
        class="input-message"
        data-state="error"
        *ngIf="
          forgottenPasswordForm.controls.email.hasError('email') &&
          !forgottenPasswordForm.controls.email.hasError('required')
        "
        role="alert"
      >
        L'email n'est pas valide
      </div>
      <div
        class="input-message"
        data-state="error"
        *ngIf="
          forgottenPasswordForm.controls.email.hasError('required') &&
          (forgottenPasswordForm.controls.email.dirty ||
            forgottenPasswordForm.controls.email.touched)
        "
        role="alert"
      >
        L'email est requis
      </div>
    </spf-form-group>
  </form>

  <div class="p-forgotten-password-links">
    <button type="submit" class="button" form="forgotten-password-form">
      Réinitialiser
    </button>
  </div>
</main>

<main
  class="[ p-forgotten-password ] [ container-xs ]"
  data-state="sent"
  *ngIf="isEmailSent"
>
  <h1 class="font-title">Email envoyé !</h1>
  <spf-illustration-email-sent
    class="p-forgotten-password-illustration"
  ></spf-illustration-email-sent>
  <a class="button" routerLink="/login">Retour à la connexion</a>
</main>
