@use 'functions' as fn;
@use 'mixins' as mx;

.p-forgotten-password {
  @include mx.container("sm");
  @include mx.mq("md") {
    justify-content: initial;
  }

  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-bottom: 2rem;
  }

  &.-sent > .button {
    width: initial;

    @include mx.mq("md") {
      width: max-content;
    }
  }
}

.p-forgotten-password\.illustration {
  margin: fn.rem(40px) auto fn.rem(60px);
  max-width: 400px;
}

.p-forgotten-password .form\.group {
  max-width: 380px;
}

.p-forgotten-password\.links {
  margin-top: 2em;

  > button {
    width: 100%;

    @include mx.mq("md") {
      width: auto;
    }
  }
}
