<main class="p-forgotten-password" *ngIf="!isEmailSent">
  <div>
    <div>
      <nav>
        <ul class="breadcrumbs">
          <li>
            <a
              routerLink="/login"
              class="breadcrumbs.link -icon"
              aria-label="Retour"
              ><spf-icon-arrow-return></spf-icon-arrow-return
            ></a>
          </li>
          <li>
            <a routerLink="/login" class="breadcrumbs.link">Retour</a>
          </li>
        </ul>
      </nav>

      <h1 class="font-title">Mot de passe oublié ?</h1>
    </div>

    <form
      id="forgotten-password-form"
      class="form"
      [formGroup]="forgottenPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form.group">
        <label class="label" for="email">Email</label>
        <input class="input" id="email" type="email" formControlName="email" />

        <div
          class="input.message -error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('email') &&
            !forgottenPasswordForm.controls.email.hasError('required')
          "
          role="alert"
        >
          L'email n'est pas valide
        </div>
        <div
          class="input.message -error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('required') &&
            (forgottenPasswordForm.controls.email.dirty ||
              forgottenPasswordForm.controls.email.touched)
          "
          role="alert"
        >
          L'email est requis
        </div>
      </div>
    </form>
  </div>

  <div class="p-forgotten-password.links">
    <button type="submit" class="button -big" form="forgotten-password-form">
      Réinitialiser
    </button>
  </div>
</main>

<main class="p-forgotten-password -sent" *ngIf="isEmailSent">
  <h1 class="font-title">Email envoyé !</h1>
  <spf-illustration-email-sent
    class="p-forgotten-password.illustration"
  ></spf-illustration-email-sent>
  <a class="button -big" routerLink="/login">Retour à la connexion</a>
</main>
