<main class="[ p-forgotten-password ] [ container-sm ]" *ngIf="!isEmailSent">
  <div>
    <header>
      <spf-breadcrumbs link="/login"></spf-breadcrumbs>

      <h1>Mot de passe oublié ?</h1>
    </header>

    <form
      id="forgotten-password-form"
      [formGroup]="forgottenPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input class="input" id="email" type="email" formControlName="email" />

        <div
          class="input-message"
          data-state="error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('email') &&
            !forgottenPasswordForm.controls.email.hasError('required')
          "
          role="alert"
        >
          L'email n'est pas valide
        </div>
        <div
          class="input-message"
          data-state="error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('required') &&
            (forgottenPasswordForm.controls.email.dirty ||
              forgottenPasswordForm.controls.email.touched)
          "
          role="alert"
        >
          L'email est requis
        </div>
      </div>
    </form>
  </div>

  <div class="p-forgotten-password.links">
    <button type="submit" class="button -big" form="forgotten-password-form">
      Réinitialiser
    </button>
  </div>
</main>

<main class="p-forgotten-password -sent" *ngIf="isEmailSent">
  <h1 class="font-title">Email envoyé !</h1>
  <spf-illustration-email-sent
    class="p-forgotten-password.illustration"
  ></spf-illustration-email-sent>
  <a class="button -big" routerLink="/login">Retour à la connexion</a>
</main>
