@use '../../styles/mixins' as mx;
@use '../../styles/layouts/container';

.p-forgotten-password {
  @include container.get("sm");
  @include mx.mq("md") {
    justify-content: initial;
  }

  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-bottom: 2rem;
  }
}

.p-forgotten-password\.form .form-group {
  max-width: 100%;

  @include mx.mq("md") {
    max-width: 380px;
  }
}

.p-forgotten-password\.links {
  margin-top: 2em;

  > button {
    width: 100%;

    @include mx.mq("md") {
      width: auto;
    }
  }
}
