<mat-card class="forgotten-password">
  <form *ngIf="!isEmailSent" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="forgottenPasswordForm.controls.email.hasError('email') && !forgottenPasswordForm.controls.email.hasError('required')">
        L'email n'est pas valide
      </mat-error>
      <mat-error *ngIf="forgottenPasswordForm.controls.email.hasError('required')">
        l'email est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-button><mat-icon>send</mat-icon>Envoyer un email de changement de mot de passe</button>
  </form>
    <mat-card *ngIf="isEmailSent">
      Un email vous a été envoyé
    </mat-card>
    <a type="button" routerLink="/login" mat-button><mat-icon>arrow_back</mat-icon>Retour à l'écran de connexion</a>
</mat-card>
