<main class="p-forgotten-password" *ngIf="!isEmailSent">
  <div>
    <div>
      <nav>
        <ul class="breadcrumbs">
          <li>
            <a
              routerLink="/login"
              class="breadcrumbs.link -icon"
              aria-label="Retour"
              ><arrow-return-icon></arrow-return-icon
            ></a>
          </li>
          <li>
            <a routerLink="/login" class="breadcrumbs.link">Retour</a>
          </li>
        </ul>
      </nav>

      <h1 class="font-title">Mot de passe oublié ?</h1>
    </div>

    <form
      id="forgotten-password-form"
      class="p-forgotten-password.form"
      [formGroup]="forgottenPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-input"
          id="email"
          type="email"
          formControlName="email"
        />

        <div
          class="form-group.message -error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('email') &&
            !forgottenPasswordForm.controls.email.hasError('required')
          "
          role="alert"
        >
          L'email n'est pas valide
        </div>
        <div
          class="form-group.message -error"
          *ngIf="
            forgottenPasswordForm.controls.email.hasError('required') &&
            (forgottenPasswordForm.controls.email.dirty ||
              forgottenPasswordForm.controls.email.touched)
          "
          role="alert"
        >
          L'email est requis
        </div>
      </div>
    </form>
  </div>

  <div class="p-forgotten-password.links">
    <button type="submit" class="button -big" form="forgotten-password-form">
      Réinitialiser
    </button>
  </div>
</main>
