<main class="container-md stack-8">
  <spf-page-header link="../" title="Actualités">
    <ng-container actions>
      <spf-can-access [forVolunteers]="true">
        <a class="button" data-size="small" routerLink="/posts/new"
          >Nouvel article</a
        >
      </spf-can-access>
    </ng-container>
  </spf-page-header>

  <section class="stack-4">
    <spf-post-card
      *ngFor="let post of posts"
      [title]="post.title"
      [id]="post.id"
      [isForVolunteers]="post.isForVolunteers"
      [createdAt]="post.createdAt"
      [userId]="post.userId"
    ></spf-post-card>
  </section>
</main>
