@use "../consts" as consts;

@each $name, $space in consts.$spaces {
  .stack-#{$name} {
    > * + * {
      margin-top: $space;
    }
  }

  .v-stack-#{$name} {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * + * {
      margin-top: $space;
    }
  }

  .h-stack-#{$name} {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * + * {
      margin-left: $space;
    }
  }
}
