<main class="p-login-main l-container l-container--xs">
  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="font-title">Connexion</h1>

    <div class="l-stack">
      <div class="status-card status-card--error" *ngIf="isSubmitEmpty">
        Vous devez remplir le formulaire de connexion
      </div>

      <div class="status-card status-card--error" *ngIf="isLoginInvalid">
        Votre Email ou Mot de passe n'est pas valide
      </div>

      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-input"
          id="email"
          type="email"
          formControlName="email"
        />

        <div
          class="form-input-error"
          *ngIf="
            loginForm.controls.email.hasError('email') &&
            !loginForm.controls.email.hasError('required')
          "
        >
          L'email n'est pas valide
        </div>
        <div
          class="form-input-error"
          *ngIf="
            loginForm.controls.email.hasError('required') &&
            (loginForm.controls.email.dirty || loginForm.controls.email.touched)
          "
        >
          L'email est requis
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Mot de passe</label>
        <input
          class="form-input"
          id="password"
          type="password"
          formControlName="password"
        />

        <div
          class="form-input-error"
          *ngIf="
            loginForm.controls.password.hasError('required') &&
            (loginForm.controls.password.dirty ||
              loginForm.controls.password.touched)
          "
        >
          Le mot de passe est requis
        </div>
      </div>
    </div>
  </form>

  <div class="l-stack _text-center">
    <a routerLink="/forgotten-password" class="link _margin-center"
      >Mot de passe oublié ?</a
    >
    <button type="submit" class="button -big" form="loginForm">
      Se connecter
    </button>
  </div>
</main>
