@use './functions' as fn;

.button {
  --radius: 8px;
  --padding-y: #{fn.em(10px)};
  --padding-x: #{fn.em(20px)};

  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--radius);
  padding: var(--padding-y) var(--padding-x);
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &.-big {
    --radius: 12px;
    --padding-y: #{fn.em(16px)};
    --padding-x: #{fn.em(30px)};
  }
}
