@use "./consts" as consts;
@use "./functions" as fn;

:root {
  --border-input-idle: 1px solid hsl(var(--palette-grey-20));
  --border-input-focus: 1px solid var(--primary);

  --border-card-idle: 1px solid hsl(var(--palette-grey-10));
  --border-card-focus: 1px solid hsl(var(--palette-grey-30));

  --font-base: "Helvetica Neue", sans-serif;
  --font-special: "Lato", "Helvetica Neue", sans-serif;
  --font-size-base: #{consts.$base-font-size};
  --ratio: 1.4;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));

  line-height: var(--line-height);
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  color: var(--black);
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
  font-family: var(--font-special);
  font-weight: 600;
  hyphens: auto;
  margin: 0;
}

h1 {
  font-size: fn.rem(42px);
  margin: 0;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

textarea {
  resize: none;
}

svg {
  display: block;
}
