.link {
  padding: 4px;
  color: var(--primary);

  text-decoration-thickness: 1px;
  text-underline-offset: .4em;

  &:focus {
    color: var(--white);
    background-color: var(--primary);
    outline: var(--primary);
    text-decoration: none;
  }
}
