:root {
  /* Bases */
  --base-blue: 226, 77%, 54%;
  --base-grey: 180, 3%, 8%;

  /* Palettes */
  // TODO: Revoir les palettes
  --palette-blue-10: hsla(var(--base-blue), 0.1);
  --palette-blue-20: hsla(var(--base-blue), 0.2);
  --palette-blue-30: hsla(var(--base-blue), 0.3);
  --palette-blue-40: hsla(var(--base-blue), 0.4);
  --palette-blue-50: hsla(var(--base-blue), 0.5);
  --palette-blue-60: hsla(var(--base-blue), 0.6);
  --palette-blue-70: hsla(var(--base-blue), 0.7);
  --palette-blue-80: hsla(var(--base-blue), 0.8);
  --palette-blue-90: hsla(var(--base-blue), 0.9);
  --palette-blue-100: hsla(var(--base-blue), 1);

  --palette-grey-10: hsla(var(--base-grey), 0.1);
  --palette-grey-20: hsla(var(--base-grey), 0.2);
  --palette-grey-30: hsla(var(--base-grey), 0.3);
  --palette-grey-40: hsla(var(--base-grey), 0.4);
  --palette-grey-50: hsla(var(--base-grey), 0.5);
  --palette-grey-60: hsla(var(--base-grey), 0.6);
  --palette-grey-70: hsla(var(--base-grey), 0.7);
  --palette-grey-80: hsla(var(--base-grey), 0.8);
  --palette-grey-90: hsla(var(--base-grey), 0.9);
  --palette-grey-100: hsla(var(--base-grey), 1);

  /* Theme */
  --black: black;
  --white: white;
  --primary: var(--black);
}
