:root {
  /* Bases */
  --base-blue: 226, 77%;
  --base-grey: 223, 15%;

  /* Palettes */
  --palette-blue-05: var(--base-blue), 95%;
  --palette-blue-10: var(--base-blue), 90%;
  --palette-blue-20: var(--base-blue), 80%;
  --palette-blue-30: var(--base-blue), 70%;
  --palette-blue-40: var(--base-blue), 60%;
  --palette-blue-50: var(--base-blue), 50%;
  --palette-blue-60: var(--base-blue), 40%;
  --palette-blue-70: var(--base-blue), 30%;
  --palette-blue-80: var(--base-blue), 20%;
  --palette-blue-90: var(--base-blue), 10%;
  --palette-blue-95: var(--base-blue), 5%;

  --palette-grey-05: var(--base-grey), 95%;
  --palette-grey-10: var(--base-grey), 90%;
  --palette-grey-20: var(--base-grey), 80%;
  --palette-grey-30: var(--base-grey), 70%;
  --palette-grey-40: var(--base-grey), 60%;
  --palette-grey-50: var(--base-grey), 50%;
  --palette-grey-60: var(--base-grey), 40%;
  --palette-grey-70: var(--base-grey), 30%;
  --palette-grey-80: var(--base-grey), 20%;
  --palette-grey-90: var(--base-grey), 10%;
  --palette-grey-95: var(--base-grey), 5%;

  /* Theme */
  --black: hsla(var(--palette-grey-95), 1);
  --white: white;
  --primary: hsla(var(--palette-grey-95), 1);

  --input-border: hsla(var(--palette-grey-20), 1);
  --input-placeholder: hsla(var(--palette-grey-60), 1);
}
