$colors-bases: (
  "grey": "216, 28%",
  "blue": "217, 91%",
  "yellow": "38, 92%",
  "green": "160, 84%",
  "indigo": "239, 84%",
  "red": "0, 84%",
);

// $grey: hsl(216, 28%, 7%);

$colors-variants: (
  05: 95%,
  10: 90%,
  20: 80%,
  30: 70%,
  40: 60%,
  50: 50%,
  60: 40%,
  70: 30%,
  80: 20%,
  90: 10%,
  95: 5%,
);

:root {
  /* Bases */
  @each $base-name, $base-hsl in $colors-bases {
    --base-#{$base-name}: #{$base-hsl};
  }

  /* Palettes */
  @each $base-name, $base-hsl in $colors-bases {
    @each $variant-name, $variant-value in $colors-variants {
      --palette-#{$base-name}-#{$variant-name}: var(--base-#{$base-name}),
        #{$variant-value};
    }
  }

  /* Theme */
  --black: hsl(var(--palette-grey-95));
  --white: white;
  --primary: hsl(var(--palette-blue-50));
  --error-text: hsl(var(--palette-red-60));
  --error-bg: hsla(var(--palette-red-10), 0.6);
  --error-border: hsla(var(--palette-red-50), 0.4);
  --illustration-emphasis: hsl(var(--palette-indigo-50));
  --color-card-bg: white;
  --color-light-border: hsl(var(--palette-grey-20));
  --color-dark-border: hsl(var(--palette-grey-90));
}
