<main class="container-md stack-8">
  <header>
    <spf-breadcrumbs link="/home"></spf-breadcrumbs>
    <h1>Créer une permanence</h1>
  </header>

  <form class="stack-4" [formGroup]="basicServiceForm" (ngSubmit)="onSubmit()">
    <spf-form-group>
      <label for="startAt">Commence le</label>
      <input class="input" id="startAt" type="date" formControlName="startAt" />
    </spf-form-group>

    <spf-form-group>
      <label for="endAt">Fini le</label>
      <input class="input" id="endAt" type="date" formControlName="endAt" />
    </spf-form-group>

    <spf-form-group>
      <label for="maxPeople">Nombre de place</label>
      <input
        class="input"
        id="maxPeople"
        type="number"
        style="width: 6ch"
        formControlName="maxPeople"
      />
    </spf-form-group>

    <spf-form-group>
      <label for="comment">Commentaire</label>
      <textarea class="input" id="comment" formControlName="comment"></textarea>
    </spf-form-group>

    <spf-form-group>
      <label class="checkbox" for="isClosed">
        <input id="isClosed" type="checkbox" formControlName="isClosed" />
        <span class="control">
          <spf-icon-check size="16" fill="white"></spf-icon-check>
        </span>
        <span class="label">Inscriptions fermées</span>
      </label>
    </spf-form-group>

    <button type="submit" class="button">
      {{ isSubmitting ? "Création..." : "Créer" }}
    </button>
  </form>
</main>
