<main class="container-md stack-10">
  <spf-page-header link="../" title="Évènements">
    <ng-container actions>
      <spf-can-access [forVolunteers]="true">
        <a class="button" data-size="small" routerLink="./new"
          >Créer un événement</a
        >
      </spf-can-access>
    </ng-container>
  </spf-page-header>

  <div *ngIf="apiStatus === 'loading'">Chargement des événements...</div>
  <div *ngIf="apiStatus === 'empty'">Aucun événement disponible.</div>

  <section *ngIf="apiStatus === 'success'" class="stack-4">
    <spf-event-card *ngFor="let event of events" [title]="event.title"></spf-event-card>
  </section>
</main>