<!-- TODO: Formulaire dynamique par rapport au type d'évènement -->
<main class="container-md v-stack-8">
  <header>
    <spf-breadcrumbs link="/events"></spf-breadcrumbs>

    <h1>Créer un nouvel événement</h1>
  </header>

  <form
    class="v-stack-4"
    id="event-new"
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="title">Titre</label>
      <input class="input" id="title" type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <label for="startAt">Commence le</label>
      <input class="input" id="startAt" type="date" formControlName="startAt" />
    </div>

    <div class="form-group">
      <label for="endAt">Fini le</label>
      <input class="input" id="endAt" type="date" formControlName="endAt" />
    </div>

    <div class="form-group">
      <label for="maxPeople">Nombre de place</label>
      <input
        class="input"
        id="maxPeople"
        type="number"
        formControlName="maxPeople"
      />
    </div>

    <div class="form-group">
      <label class="checkbox" for="isClosed">
        <input id="isClosed" type="checkbox" formControlName="isClosed" />
        <span>Inscriptions fermées</span>
      </label>
    </div>

    <div class="form-group">
      <label class="checkbox" for="isChargeable">
        <input
          id="isChargeable"
          type="checkbox"
          formControlName="isChargeable"
        />
        <span>Payante</span>
      </label>
    </div>

    <div class="form-group">
      <label for="comment">Commentaire</label>
      <textarea class="input" id="comment" formControlName="comment"></textarea>
    </div>

    <button type="submit" class="button -big">
      {{ isSubmitting ? "Création..." : "Créer l'événement" }}
    </button>
  </form>
</main>
