<mat-card>
  <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-slide-toggle formControlName="isForVolunteers">Réservé au bénévoles</mat-slide-toggle>
    <mat-form-field>
      <mat-label>Titre :</mat-label>
      <input type="text" matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contenu :</mat-label>
      <textarea matInput formControlName="content" placeholder="Ex. La pizza c'est bon pour le gras..."></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Commentaire :</mat-label>
      <textarea matInput formControlName="comment" placeholder="Ex. Pour 20 personnes pour plus d'info rdv sur le site..."></textarea>
    </mat-form-field>
    <button type="submit" mat-button>Créer l'article</button>
    <a type="button" routerLink="../" mat-button>RETOUR</a>
  </form>
</mat-card>
