@use "functions" as fn;

:host {
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25em 0.5em;
  font-size: fn.rem(14px);
  background: hsl(var(--palette-grey-5));

  &[ng-reflect-icon-only="true"] {
    padding: 0.25em;
  }
}
