@use "functions" as fn;

:host {
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: fn.rem(14px);
  background: hsl(var(--palette-grey-5));
}
