$container-sizes: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@each $name, $size in $container-sizes {
  .l-container__#{$name} {
    margin: 0 auto;
    padding: 1rem;
    max-width: $size;
  }
}
