<main class="container-md stack-8">
  <spf-page-header
    title="Permanences"
    link="../"
  >
    <ng-container actions>
      <spf-can-access [forVolunteers]="true">
        <a
          class="button"
          data-size="small"
          routerLink="./new"
        >Ajouter</a>
      </spf-can-access>
    </ng-container>
  </spf-page-header>

  <div *ngIf="apiStatus === 'success'" class="stack-4">
    <spf-basic-service-card *ngFor="let service of basicServices" [id]="service.id" [startAt]="service.startAt" [maxPeople]="service.maxPeople" [isClosed]="service.isClosed"></spf-basic-service-card>
  </div>
</main>
