@use "./styles/index.scss";

@import "~ngx-toastr/toastr";

html,
body {
  height: 100%;
  color: var(--black);
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Work Sans", Roboto, "Helvetica Neue", sans-serif;
}

.has-cursor {
  cursor: pointer;
}
