@use 'sass:map';

$container-sizes: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
);

@mixin container($size) {
  margin: 0 auto;
  padding: 1rem;
  max-width: map.get($container-sizes, $size);
}
