@use 'sass:map';

$mq-breakpoints: (
  sm: 30em,
  md: 48em,
  lg: 62em,
  xl: 80em,
  2xl: 96em,
);

@mixin mq($breakpoint) {
  @media (min-width: map.get($mq-breakpoints, $breakpoint)) {
    @content;
  }
}
